<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A demo site for twitter API">
    <meta name="author" content="Elton M">

    <title>Python and Flask based app</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',    filename='css/site.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" alignment = "justify-content-center">
          <header class="masthead mb-auto">
            <div class="inner">
              <h3 class="masthead-brand">Social Data Mining Project</h3>
            </div>
          </header>
          <div id="widgetContent">
            <main role="main" class="inner">
              <h1 class="cover-container d-flex h-100 p-3 mx-auto flex-column">Display live Feeds</h1>
              <p class="lead">App to display Feeds</p><br><br><br><br>
              <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/facebook">Facebook</a>
                <a class="nav-link active" href="/twitter">Twitter</a>
                <nav>
              </div> 
            </main>
          </div>
        </div><br><br/>

        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>This Demo is Created by Elton</a></p>
          </div>
        </footer>
  </body>

</html>
